.f {
    text-align: center;
}

.f input{
    display: block;
    margin:1.5rem 0;
    border: none;
    font-size: inherit;
    box-sizing: border-box;
    padding: 13px 0;
    text-align: center;
    margin: 5px;
    height: 12px;
    width: 50px;
}

.mat{
    display: flex;
    flex-direction: row;
    margin-top: 6rem;
}